rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /exports/{fileName} {
      allow read, write: if signedIn();
    }

    match /backups/{fileName} {
      allow read, write: if signedIn();
    }
  }
}
